html {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

#__next {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  background: radial-gradient(ellipse at bottom center, #2a1a33 -50%, #110b13 100%) !important;
}

.particles-wrapper {
  position: fixed;
  z-index: -2;
  width: 100%;
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.typewrite p {
  border-right: .15em solid orange;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
}
.typewrite button{
  width: 100%;
  opacity: 0;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 18s;
  margin-top: 20px;
}
.typewrite p:nth-child(1) {
  width: 100%;
  -webkit-animation: type 5s steps(60, end);
  animation: type 5s steps(60, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.typewrite p:nth-child(2) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type2 5s steps(60, end);
  animation: type2 5s steps(60, end);
  -webkit-animation-delay: 3s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.typewrite p:nth-child(3) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type3 5s steps(60, end);
  animation: type3 5s steps(60, end);
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


.typewrite p:nth-child(4) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type4 5s steps(60, end), blink .5s step-end infinite alternate;
  animation: type4 5s steps(60, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@keyframes type4 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type4 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}